@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.lobby {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #0a0a0a;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.lobby-title {
  font-size: 3rem;
  margin-bottom: 2rem;
}

.btn-primary {
  padding: 1rem 3rem;
  font-size: 1.5rem;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.game-container {
  padding: 2rem;
  font-family: Arial, Helvetica, sans-serif;
}

.round-display {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.score-display {
  font-size: 1rem;
  font-weight: bold;
  color: #4caf50;
}

.timer-text {
  font-size: 1rem;
  margin-top: 1rem;
}

.timer-bar-container{
  width: 75%;
  height: 20px;
  background-color: #ddd;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  border-radius: 8px;
  overflow: hidden;
}

.timer-bar-fill {
  height: 100%;
  transition: width 1s linear;
}

.form-input {
  padding: 0.5rem;
  font-size: 1rem;
}

.btn-submit {
  margin-left: 1rem;
  padding: 0.5rem 1rem;
}

.message-text {
  margin-bottom: 1rem;
}

.btn-container {
  display: flex;
  gap: 0.75rem;
  margin-top: 1rem;
}

.btn-success {
  padding: 0.5rem 1rem;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}

.btn-danger {
  padding: 0.5rem 1rem;
  background-color: #f44336;
  color: white;
  border: none;
  cursor: pointer;
}

.image-container {
  margin-top: 2rem;
}

.manga-image {
  max-width: 90vw;
  max-height: 60vh;
  width: auto;
  height: auto;
  object-fit: contain;
  border: 1px solid #ccc;
  cursor: pointer;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.8);
  display: flex;
  align-items: flex-start;
  justify-content: center;
  overflow-y: auto;
  padding: 2rem;
  z-index: 1000;
  cursor: pointer;
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
}

.modal-image {
  max-width: 90vw;
  width: auto;
  height: auto;
  object-fit: contain;
  border: 1px solid #ccc;
  cursor: pointer;
  margin: auto;
}